body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.form{
  background:#0f172a;
  color:white;
  padding:30px;
  width:300px;
  border-radius:12px;
}

.step{
  display:none;
}

.step.active{
  display:block;
}

button{
  margin-top:10px;
}
